%article#main
  %section.wrapper.style4.container
    .content
      %section
        .panel-group#accordion{data: {'update-url' => sort_problems_url}}
          .panel.panel-default#problems_form_panel
            .panel-heading
              = simple_form_for(problem, html: {method: :post, class: 'form-inline' }, remote: true) do |f|
                = f.input_field :name, label: false, class: "form-control inline-input"
                = f.submit "+", class: "btn-xs inline-plus special"

          - problems.persisted.each do |problem|
            = render 'problem', problem: problem
