%article#main
  %section.wrapper.style3.container.special#sign_up{:class => "75%"}
    %header.major
      %h2= t('.forgot')
    .row
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: 'password_form', :method => :post }) do |f|
        .row
          .12u
            = f.input :email, required: true, placeholder: t('email'), autofocus: true, label: false
        .row
          .12u
            %ul.buttons
              %li
                = f.submit t('.send'), class: "special"
