/ %center
/   .h2= t('.landing_1')
/   .h3= t('.landing_2')
/   .h3= t('.landing_3')
/   .h3= t('.landing_4')
/   .h3= t('.landing_6')
/   .h2= t('.landing_7')

/ - unless signed_in?

/   %hr

/   %center
/     = link_to t('sign_in'), new_user_session_path, class: "btn btn-default btn-lg"
/     = link_to t('sign_up'), new_user_registration_path, class: "btn btn-primary btn-lg"

/ = link_to root_url(locale: "en") do
/   = image_tag("EN.jpg")
/ = link_to root_url(locale: "pl") do
/   = image_tag("PL.png")

/ Banner
%section#banner
  .inner
    %header
      %h2 Planer
    %p
      = t('.landing_1').html_safe
    %footer
      %ul.buttons.vertical
        %li
          %a.button.fit.scrolly{:href => "#main"}= t('.landing_7')
/ Main
%article#main
  %header.special.container
    %span.icon.fa-calendar-check-o
    %h2
      With
      %strong Planer
      you can
      %br/
      simplify your life.
    %p
      Note your
      %strong ideas
      ,
      %strong problems
      and
      %strong wise thoughts.
      %br/
      And when you have some free time, look at them and make a
      %strong project
      from them.
      %br/
      Split it into
      %strong subprojects
      , and the
      %strong subproject
      into
      %strong subsubprojects
      , etc.
  / One
  %section.wrapper.style2.container.special-alt
    .row{:class => "50%"}
      .8u{:class => "12u(narrower)"}
        %header
          %h2
            It's important to
            %strong control
            our life before it's too late.
        %p
          Every man is the architect of his own fortunethat.
          %strong Planer
          will help you with this. Finally you will stop forgetting about what you wanted to do and you will be able to focus on what is most important for you. You will be able to develop like never before, without worrying about the rest.
        %footer
          %ul.buttons
            %li
              %a.button{:href => "#sign_up"} Organize your life
      .4u{:class => "12u(narrower) important(narrower)"}
        %ul.featured-icons
          %li
            %span.icon.fa-clock-o
          %li
            %span.icon.fa-flag-checkered
          %li
            %span.icon.fa-laptop
          %li
            %span.icon.fa-inbox
          %li
            %span.icon.fa-lock
          %li
            %span.icon.fa-thumb-tack
  / Two
  %section.wrapper.style1.container.special
    .row
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3 Secure
          %p All your notes are secure in the cloud. You will get your own account protected with a password and nobody else will have access to it.
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3 Works on mobile
          %p The app looks good on desktop and on mobile. Now you can note everything also on road.
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3 Cool & beautiful
          %p
            %strong Planer
            looks nice and it's funcional. You can move your notes using drag & drop and edit them in place. How cool is that?!
  / Three
  %section.wrapper.style3.container.special#sign_up{:class => "75%"}
    %header.major
      %h2
        Start your life
        %strong under control
    .row
      %form.sign_up
        .row
          .12u
            %input{:name => "email", :placeholder => "Email", :type => "email"}
        .row
          .12u
            %input{:name => "password", :placeholder => "Password", :type => "password"}
        .row
          .12u
            %input{:name => "password_confirmation", :placeholder => "Password confirmation", :type => "password"}
        .row
          .12u
            %ul.buttons
              %li
                %input.special{:type => "submit", :value => "Sign up"}
/ CTA
%section#cta
  %header
    %h2
      Ready to start
      = succeed "?" do
        %strong planning
    %p You can always come back to your old habits, if you want.
  %footer
    %ul.buttons
      %li
        %a.button.special{:href => "#sign_up"} Yes, please
      %li
        %a.button{:href => "#"} No, thanks
