.panel-group#main_accordion
  .panel.panel-default#main_form_panel
    .panel-heading
      = simple_form_for(project, html: {method: :post, class: 'form-inline', id: 'main_form' }, remote: true) do |f|
        = f.input_field :name, label: false, class: "form-control"
        = f.button :submit, "+", class: "btn btn-sm"

  - projects.roots.persisted.each do |project|
    = render "project", project: project
