a:hover, a:visited {
  border-color: inherit;
  color: inherit;
  text-decoration: none;
}

form.sign_up, form.sign_in, form.password_form {
  width: 100%;
}

form.sign_in label.checkbox {
  display: flex;
}

form.sign_in label.checkbox input {
  margin-right: 5px;
}

body.welcome #main {
  padding: 2.5em 0 0 0;
}

body.passwords #main {
  padding-bottom: 0;
}

input.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 2;
  border-radius: 3px;
  min-width: 1px;
}

input.inline-plus {
  width: 4%;
}

input.string.required.form-control.inline-input {
  width: 95%;
}

h4.panel-title {
  text-transform: none;
}
