#notification_panel
.flash_messages
  - flash.each do |name, msg|
    .alert{:class => "#{name == :notice ? ' alert-success' : ' alert-error' }"}
      %a.close{:'data-dismiss' => "alert"} ×
      = msg
