%footer#footer
  %ul.icons
    %li
      %a.icon.circle.fa-linkedin{:href => "https://pl.linkedin.com/pub/joanna-rajewska/72/b02/5a5", target: '_blank'}
        %span.label Linkedin
    %li
      %a.icon.circle.fa-github{:href => "https://github.com/rajaaa92", target: '_blank'}
        %span.label Github
    %li
      %a.icon.circle.fa-safari{:href => "http://rajewska.asia", target: '_blank'}
        %span.label WWW
  %ul.copyright
    %li © Joanna Rajewska
    %li
      Design:
      %a{:href => "http://html5up.net"} HTML5 UP
